---
name: "debian-remix"
version: "3"
services:

  system-build:
    image: "livebuild:deb13"
    privileged: true
    build:
      context: .
      args:
        DEBIAN_VERSION: "13.2"
    volumes:
      - "/dev:/dev"
      - ".:/live/source:ro"
      - "${KIWI_TARGET_DIR:-.}:/live/target"
    command:
      - >
        kiwi-ng --profile=${KIWI_PROFILE:-Workstation-l10n} --type=iso --debug
        --color-output --shared-cache-dir=/live/target/cache system build
        --description=/live/source/kiwi-descriptions --target-dir=/live/target
    restart: "no"
